/* App.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  font-size: 3rem;
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #61dafb;
  margin: 10px 0;
  padding: 12px;
  font-size: 1.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
}

li input[type='checkbox'] {
  margin-right: 10px;
  transform: scale(1.5);
}

li.completed {
  text-decoration: line-through;
  background: #a8a8a8;
}

li:not(.completed):hover {
  background: #21a1f1;
}

.input{
  background: lightblue;
  margin: 10px 0;
  padding: 12px;
  font-size: 1.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
}

.input::placeholder{
  color: black;
}

.plus{
  display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
    background-color:cornflowerblue; 
    color: black; /* White text color */
    border-radius: 10%; /* Circular shape */
    font-size: 30px; /* Large font size for the plus sign */
    font-weight: bold;
    border: 2px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
}

@media (max-width: 600px) {
  .App-header {
    font-size: calc(8px + 2vmin);
  }

  li {
    font-size: 1.2rem;
  }

  li input[type='checkbox'] {
    transform: scale(1.2);
  }
}
